<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empowering Your Web3 Future</h2>
                <hr class="light">
                <p class="text-faded">This process, from planning to deployment, ensures your smart contracts are both mathematically sound and aligned with your business goals and industry standards. Formal Verification provides unmatched integrity, security, and reliability for your blockchain applications, enabling you to proceed with absolute confidence.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
